{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}

<h1 class="text-center">Login</h1>
<div class="row d-flex justify-content-center">
    <form method="post" class="form" action="{% url 'login' %}" enctype="multipart/form-data">
        <input type="hidden" name="return_url" value="{{ request.GET.next }}">
        {% csrf_token %}
        {% for field in login_form %}
            {% bootstrap_field field %}
        {% endfor %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>
</div>

{% endblock %}